@{
    ViewData["Title"] = "Product";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-tag"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <ej-grid id="FlatGrid" allow-sorting="true" allow-paging="true">
                    <e-datamanager url="/api/product" offline="true" adaptor="WebApiAdaptor"></e-datamanager>
                    <e-columns>
                        <e-column field="ProductId" header-text="Product ID" text-align="Right" width="75"></e-column>
                        <e-column field="ProductName" header-text="ProductName" width="80"></e-column>
                        <e-column field="Description" header-text="Description" text-align="Left" width="75"></e-column>
                        <e-column field="ProductImageUrl" header-text="Ship City" width="110"></e-column>
                    </e-columns>
                </ej-grid>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{
}

@section Scripts{
}

