@{
    ViewData["Title"] = "Product";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-tag"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <ej-grid id="FlatGrid" allow-sorting="true" allow-paging="true" enable-alt-row="false" >
                    <e-toolbar-settings show-toolbar="true" toolbar-items='@new List<string> {"add", "edit", "delete", "update", "cancel", "search", "printGrid"}' />
                    <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" show-confirm-dialog= "true" edit-mode="Dialog"></e-edit-settings>

                    <e-datamanager url="/api/product" offline="true" adaptor="WebApiAdaptor"></e-datamanager>
                    <e-columns>
                        <e-column field="ProductImageUrl" header-text="" Template="#colImageTemplate" width="130"></e-column>
                        <e-column field="ProductId" header-text="Product ID" text-align="Right" ></e-column>
                        <e-column field="ProductName" header-text="ProductName" ></e-column>
                        <e-column field="Description" header-text="Description" text-align="Left" ></e-column>
                        <e-column field="Barcode" header-text="Barcode" ></e-column>
                        <e-column field="DefaultSellingPrice" header-text="Selling Price" format="{0:C2}"></e-column>
                        <e-column field="DiscountedSellingPrice" header-text="Discounted Selling Price" format="{0:C2}"></e-column>
                    </e-columns>
                </ej-grid>
                <script type="text/x-jsrender" id="colImageTemplate">
                    <input type="image" src="{{:ProductImageUrl}}" width="120" height="120"/>
                </script>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{
}

@section Scripts{
}

